// buttons
%btn {
	width: 153px;
	min-height: 48px;
	padding: 0.8rem 1.5rem;
	transition: all 0.3s ease-out;
	border-radius: 24px;
	font-size: 18px;
	font-weight: 600;
	flex-shrink: 0;
	outline: 0px;
	font-family: "Livvic", sans-serif;
	cursor: pointer;

	@include flex(center, center, row nowrap);

	&:hover {
		transform: scale(0.95);
	}

	&:disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}
}

.btn_outline {
	@extend %btn;

	color: $col-white;
	background-color: transparent;
	border: 2px solid $col-white;

	&:hover {
		background: $col-white;
		color: $col-dark-green;
		border: 0px;
	}
}

.btn_outline-dark {
	@extend %btn;

	color: $col-sec-green;
	border-color: $col-sec-green;
	background-color: transparent;

	&:hover {
		background: $col-sec-green;
		color: $col-white;
		border: 0px;
	}
}

.btn_solid {
	@extend %btn;
	width: 123px;
	background: $col-white;
	color: $col-dark-green;
	border: 0px;

	&:hover {
		background: $col-sec-blue;
		color: $col-dark-green;
		border: 0px;
	}
}

.section-container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.text--deco {
	width: 50px;
	height: 4px;
	flex-shrink: 0;
	background: $col-sec-blue;
}

.text--deco-coral {
	width: 50px;
	height: 4px;
	flex-shrink: 0;
	background: $col-primary-coral;
}
