@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap");

* {
	font-family: $font-default;
}

.hero-heading {
	color: #fff;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 4rem;
	text-align: center;
	flex-shrink: 0;

	span {
		color: $col-primary-coral;
	}

	@include respondMin("mobile") {
		font-size: 6.4rem;
		line-height: 5.6rem;
	}

	@include respondMin("lg-tablet") {
		font-size: 7.5rem;
		line-height: 7.5rem;
		text-align: left;
	}

	@include respondMin("sm-desktop") {
		font-size: 10rem;
		line-height: 10rem;
		text-align: left;
	}
}

.inner-hero-heading {
	color: #fff;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 4rem;
	text-align: center;
	flex-shrink: 0;

	@include respondMin("mobile") {
		font-size: 6.4rem;
		line-height: 5.6rem;
	}

	@include respondMin("lg-tablet") {
		font-size: 6.4rem;
		line-height: 5.6rem;
		text-align: left;
	}
}

.body-heading {
	color: #fff;
	font-size: 3.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 3.2rem;

	span {
		color: $col-sec-blue;
	}

	@include respondMin("tablet") {
		font-size: 4.8em;
		line-height: 4.8rem;
	}
}

.hero-paragraph {
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;

	@include respondMin("lg-tablet") {
		font-size: 1.8rem;
		text-align: left;
	}
}

.body-text {
	color: #fff;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.5rem;
}

.text-center {
	text-align: center;
}

.text-center--sm {
	@include respondMax("mobile") {
		text-align: center;
	}
}
