// colors
$col-white: #ffffff;
$col-black: #060613;

$col-primary-green: #014e56;
$col-primary-coral: #f67e7e;
$col-sec-blue: #79c8c7;
$col-police-blue: #2c6269;
$col-jungle-green: #004047;
$col-sec-green: #012f34;
$col-dark-green: #002529;

// fonts
$font-default: "Livvic", sans-serif;
