.features {
	background: $col-sec-green;
	position: relative;

	&__container {
		@include flex(flex-start, flex-start, column nowrap);
		padding: 64px 24px;

		@include respondMin("mobile") {
			padding: 100px 98px;
		}

		@include respondMin("lg-tablet") {
			padding: 140px 10%;
			@include flex(space-between, flex-start, row nowrap);
		}
	}

	&__left {
	}

	&__content {
		margin-top: 32px;
		max-width: 240px;

		@include respondMin("mobile") {
			min-width: 385px;
			max-width: 445px;
			flex-shrink: 0;
		}
	}

	&__right {
		margin-left: 0;
		margin-top: 56px;

		@include respondMin("lg-tablet") {
			margin-left: 50px;
			margin-top: 0;
		}
	}

	.feature-group {
		margin-bottom: 48px;
		@include flex(flex-start, center, column nowrap);

		@include respondMin("mobile") {
			margin-bottom: 32px;
			@include flex(flex-start, flex-start, row nowrap);
		}

		.feature-group--svg {
			flex-shrink: 0;
		}

		.feature-group--content {
			margin-left: 0;
			margin-top: 16px;

			@include respondMin("mobile") {
				margin-left: 23px;
				margin-top: 0;
				max-width: 445px;
				// @include flex(flex-start, flex-start, row nowrap);
			}
			h3 {
				color: #f67e7e;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 28px;
			}
		}
	}

	.feature-group:last-of-type {
		margin-bottom: 0;
	}

	&__deco {
		position: absolute;
		top: 0;
		right: -100px;

		@include respondMin("lg-tablet") {
			display: none;
		}
	}

	&__deco-bottom {
		position: absolute;
		bottom: 0;
		right: -100px;
		display: none;

		@include respondMin("lg-tablet") {
			display: block;
		}
	}
}
