.contact__form {
	width: 100%;
	max-width: 540px;
}

.input--container {
	margin-bottom: 24px;
	width: 100%;
}

input {
	width: 100%;
	height: 42px;
	border: none;
	outline: 0px;
	border-bottom: 1px solid #fff;
	background: transparent;
	font-family: "Livvic";
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 25px;
	padding: 0 14px;
	transition: all 300ms;

	&::placeholder {
		color: #fff;
		opacity: 0.6;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 25px;
		margin-top: -10px;
	}

	&:focus,
	&:hover {
		border-bottom: 1px solid $col-sec-blue;
	}
}

.error-input {
	color: #f67e7e;
	font-size: 10px;
	font-style: italic;
	font-weight: 700;
	line-height: normal;
	margin-top: 8px;
}

textarea {
	width: 100%;
	height: 84px;
	border: none;
	outline: 0px;
	border-bottom: 1px solid #fff;
	background: transparent;
	font-family: "Livvic";
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	line-height: 25px;
	padding: 0 14px;
	padding-bottom: 5px;
	transition: all 300ms;
	resize: none;

	&::placeholder {
		color: #fff;
		opacity: 0.6;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 25px;
		margin-top: -10px;
	}

	&:focus,
	&:hover {
		border-bottom: 1px solid $col-sec-blue;
	}
}
