.directors {
	background: $col-jungle-green;
	position: relative;
	z-index: 2;

	&__container {
		padding: 88px 24px;
		@include respondMin("mobile") {
			padding: 100px 98px;
		}

		@include respondMin("lg-tablet") {
			padding: 140px 10%;
		}
	}

	&__section {
		margin-top: 48px;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 56px;
		justify-items: center;

		@include respondMin("mobile") {
			grid-template-columns: 1fr 1fr;
			column-gap: 11px;
			row-gap: 76px;
		}

		@include respondMin("lg-tablet") {
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 64px;
			column-gap: 30px;
			row-gap: 76px;
		}
	}

	&__details {
		position: relative;
		width: 100%;

		.toggle-director {
			position: absolute;
			cursor: pointer;
			bottom: -28px;
			right: 50%;
			transform: translateX(50%);
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 32px;
		height: 253px;
		width: 100%;
		max-width: 327px;
		background: $col-sec-green;

		@include respondMin("mobile") {
			max-width: 281px;
		}

		@include respondMin("lg-tablet") {
			max-width: 350px;
		}

		h5 {
			color: #79c8c7;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 28px; /* 155.556% */
		}

		small {
			color: #fff;
			display: block;
			text-align: center;
			font-size: 13px;
			font-style: italic;
			font-weight: 500;
			line-height: 18px;
		}
	}

	.flipped-card {
		background: $col-dark-green;
		padding-top: 35px;
		padding-left: 45px;
		padding-right: 45px;

		p {
			color: #fff;
			text-align: center;
			font-size: 15px;
			font-weight: 600;
			line-height: 25px;
		}

		@include respondMin("mobile") {
			padding-left: 25px;
			padding-right: 25px;
		}

		@include respondMin("lg-tablet") {
			padding-left: 45px;
			padding-right: 45px;
		}
	}

	&__avatar {
		height: 96px;
		width: 96px;
		border-radius: 50%;
		margin-bottom: 16px;
		text-align: center;
	}

	&__deco-bottom {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	&__deco-top {
		position: absolute;
		top: 0;
		left: -100px;
	}
}
